<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.member.dao.MemberRoleDAO">
	<!-- 저장 -->
	<insert id="insert" parameterType="MemberRoleVO">
		insert into smember_roles values (smember_roles_idx_seq.nextval,#{username},#{role})
	</insert>
	<!-- 수정 -->
	<update id="update" parameterType="MemberRoleVO">
		update smember_roles set username = #{username}, role=#{role} where idx=#{idx}
	</update>
	<!-- 삭제 -->
	<delete id="delete" parameterType="int">
		delete from smember_roles where idx=#{idx}
	</delete>
	<!-- 1개얻기 -->
	<select id="selectByIdx" parameterType="int" resultType="MemberRoleVO">
		select * from  smember_roles where idx=#{idx}
	</select>
	<!-- username으로 얻기 -->
	<select id="selectByUsername" parameterType="string" resultType="MemberRoleVO">
		select * from  smember_roles where username=#{username}
	</select>
	<!-- 모두얻기 -->
	<select id="selectList" resultType="MemberRoleVO">
		select * from  smember_roles order by username
	</select>
	
</mapper>