/* #wrap{
    background-color: beige;
}

header{
    background-color: cadetblue;
}

aside{
    background-color: crimson;
}

main{
    background-color: darkkhaki;
}

footer{
    background-color: darkorchid;
}
/* h1{
    color: blue;
}

h2{
    color: rgb(0, 194, 26);
}

h3{
    color: rgb(255, 31, 236);
}
 */ */
