<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test">
  <select id="today" resultType="String">
  	<![CDATA[
  	select SYSDATE from dual
  	]]>
  </select>
  <select id="sum" resultType="int" parameterType="HashMap">
  	<![CDATA[
  	select #{num1 } + #{num2 } + #{num3 }  from dual
  	]]>
  </select>
  <select id="mul" resultType="int" parameterType="HashMap">
  	<![CDATA[
  	select #{num1 } * #{num2 } from dual
  	]]>
  </select>
  
  
 
</mapper>