<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE sqlMap PUBLIC "-//iBATIS.com//DTD SQL Map 2.0//EN" "http://www.ibatis.com/dtd/sql-map-2.dtd">
<sqlMap namespace="people">
	<!-- 1. 저장 -->
	<insert id="insert"  parameterClass="peopleVO">
		insert into people (name,age) values (#name#, #age#)
	</insert>
	<!-- 2. 수정 -->
	<update id="update" parameterClass="peopleVO">
		update people set name=#name#, age=#age# where id=#id#
	</update>
	<!-- 3. 삭제 -->
	<delete id="delete" parameterClass="int">
		delete from people where id=#id#
	</delete>
	<!-- 4. 1개얻기 -->
	<select id="selectById"  parameterClass="int" resultClass="peopleVO">
		select * from people where id=#id#
	</select>
	<!-- 5. 모두얻기 -->
	<select id="selectList"  resultClass="peopleVO">
		select * from people order by id desc
	</select>
	
</sqlMap>
